html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  height: -webkit-fill-available;
}

main {
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  width: 100vw;
  background-color: #6f5582;
  align-items: center;

}

h1 {
 text-align: center;
 font-family: futura;
 color: #a6d0e0;
}

.player1, .player2 {
  width: 35vw;
  background-color: #a6d0e0;
}

.game-board {
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 60vh;
  width: 70%;
  border: solid;
}

div{
  height: 30%;
  width: 20%;
}

.top-left {
  border-bottom: solid #a6d0e0;
  border-right: solid #a6d0e0;
}
/*   middle left */
.top-middle {
  border-right: solid #a6d0e0;
  border-bottom: solid #a6d0e0;
  border-top: solid #a6d0e0;
}
/*   bottom left */
.top-right {
  border-right: solid #a6d0e0;
  border-top: solid #a6d0e0;
}
/*  top middle */
.middle-left {
  border-bottom: solid #a6d0e0;
  border-right: solid #a6d0e0;
  border-left: solid #a6d0e0;
}
/*   middle */
.middle {
  border: solid #a6d0e0;

}
/*   bottom right */
.bottom-right {
  border-top: solid #a6d0e0;
  border-left: solid #a6d0e0;
}

/*  top right */
.bottom-left {
  border-bottom: solid #a6d0e0;
  border-left: solid #a6d0e0;
}
/*   middle-right */
.bottom-middle {
  border-left: solid #a6d0e0;
  border-bottom: solid #a6d0e0;
  border-top: solid #a6d0e0;

}
/*   bottom middle */
.middle-right {
  border-right: solid #a6d0e0;
  border-top: solid #a6d0e0;
  border-left: solid #a6d0e0;
}
